#############  MDK-specific objects  ###############
output
*.rtlib
*.mvlib
*.NNmvlib
*.nnlib
*.asmgen
*.shv*lib
*_gen.asm
*.map
*.d
mvbuild
.config*.old
**/include/config
**/include/generated
**/include/kconfig
**/kconfig-*
**/prepare-kconfig.log
*.orig
#ignore old .config files
*.old

#scons build system tracking database
*.dblite

regression/RegressionSystem
regression/ReleaseSystem
regression/IntegrationScripts
common/components/kernelLib/MvCV/kernels/*/unittest/run
####################################################

# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Windows
desktop.ini

####################### Eclipse ######################
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject
.project

# PDT-specific
.buildpath

# sbteclipse plugin
.target

# TeXlipse plugin
.texlipse


######################## Emacs #####################
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

######################## vim ########################
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
*.swp

######################## sublime ########################
*sftp-config.json

######################## cscope #####################
cscope*

######################## C++ ########################
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


### NotepadPP ###
# Notepad++ backups #
*.bak

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

### CMake ###
CMakeCache.txt
CMakeFiles
cmake_install.cmake
install_manifest.txt

### Klocwork ###
# Local project directory and settings
.kwlp
.kwps

# ctags
tags

# Visual Studio Code
.vscode/
*.code-workspace

### Jetbrains suite (CLion, IntelliJ IDEA, etc) ###
.idea/
cmake-build-debug/

# Profile Guided Optimization
*.profraw

# Make sure .lfsconfig isn't changed by mistake on develop
.lfsconfig

#############  Profiler specific objects  ###############
profile_session
#########################################################

#############  binaries and artifacts  ###############
*.blob
*.bin
*.json
*.log
*.db
*.net
*.csv
