contrib/lemon/install/
install/*
build/
build-debug/
out/
*.user
.vscode
.vs/
*.blob
*.dot
*:*
*.svg
*.log
recordings/
klocwork/
*.prototxt
*.caffemodel
*.ps
*.png

# CLion
.idea/
cmake-build-debug/
tags
*CMakeFiles*
CMakeCache*
tests/Makefile
.*.swp
