contrib/lemon/install/
build/
build-debug/
*.user
.vscode
*.blob
*.dot
*.json
*:*
*.svg
recordings/
klockwork/
klocwork/
*.prototxt
*.caffemodel
*.ps
*.png

# CLion
.idea/
cmake-build-debug/
tags
*.cmake
*CMakeFiles*
CMakeCache*
tests/Makefile
.*.swp
