# These owners will be the default reviewers for pull/merge requests in the repo.
#
# MLIR Compiler - Vinogradov, Vladislav (@vinograd47) / Kudriavtsev, Nikita (@nikita-kud) / Bakalin, Andrew (@AndrewBakalinIntel) / Pushchin, Alexey (@AlexeyPushchin) / Darecki, Mateusz (@MateuszDareckiIntel) / Rotuna, Harald Razvan (@hrotuna) / Zomborat, Zoran (@ZoranZomborat) / Brady, John (@bradyjohn)
# Driver compiler adapter / Compiler in Driver - Znamenskiy, Mikhail (@mznamens) / Shumihin, Sergey (@sshumihi) / Skrebkov, Artemy (@ArtemySkrebkov-intel)
# Quantization / Mixed Datatypes - Shokin, Alexander (@shokinal) / Rotuna, Harald Razvan (@hrotuna) / Zomborat, Zoran (@ZoranZomborat)
# Strategy Generation - DeFlumere, Ashley (@adeflume)
# Binaries (RT, vpualHost), Backends - Skrebkov, Artemy (@ArtemySkrebkov-intel) / Znamenskiy, Mikhail (@mznamens)
# Software Layers - Kurin, Maxim (@maxim-kurin) / Vyunov, Roman (@rvyunov) / Vadim, Curca (@vadim-intel) / Li, Zhibin (@ZhibinLiIntel)
# Model enabling - Shumihin, Sergey (@sshumihi) / Sokolov, Andrey (@andrejsokolov)
# mcmCompiler - Yao, Shaojun (@syao-2015) / Mineeva, Marina (@mmineeva)
# mcmEmulator - Zomborat, Zoran (@ZoranZomborat)
# Memory/Barrier scheduling - Brady, John (@bradyjohn) / Gwizdz, Michal (@MichalGwizdzIntel)
# MTL - Gladilov, Gleb (@gladilov-gleb) / Pedus, Mikhail (@MikhailPedus) / Losev, Sergey (@briangrifiin)
# Runtime - Skvortsov, Vladimir (@vmskv) /  Smirnov, Evgeny (esmirno)
# Testing - Perepelkin, Alexander (@alpkn)
#
# Rules:
#   1. Each directory should have a minimum of 2 code owners.
#   2. Order is important as the last matching pattern takes the most precedence.
#      Keep folders below sorted in folder hierarchy order (alphabetically).
#
# Repo default owners -- these normally should not trigger
# unless someone tries to change the whole folder structure
* @vinograd47 @mmineeva @ArtemySkrebkov-intel
#
##################################################################
# Files / Folders
#
# Protected files. Shouldn't be modified without approval
.clang-format @ArtemySkrebkov-intel @vinograd47
.gitmodules  @ArtemySkrebkov-intel @vinograd47
.gitignore  @ArtemySkrebkov-intel @vinograd47
CODEOWNERS @vinograd47 @mmineeva @ArtemySkrebkov-intel
CMakeLists.txt @vinograd47 @mmineeva @ArtemySkrebkov-intel
#
# artifacts folder
/artifacts @ArtemySkrebkov-intel @mznamens
#
# src folder
/src/custom_cpp_kernels @nikita-kud @maxim-kurin
/src/custom_extension_library @lerbelintel @VladyslavTsilytskyiIntel @maxim-kurin
/src/custom_ocl_kernels @mikhailk62 @maxim-kurin
/src/emulator_backend @ArtemySkrebkov-intel @ZoranZomborat
/src/frontend_mcm @ArtemySkrebkov-intel @mmineeva
/src/hddl2_backend @ArtemySkrebkov-intel @mznamens
/src/mcmCompiler @syao-2015 @mmineeva
/src/mcmCompiler/src/pass/optimization @adeflume @bradyjohn @MateuszDareckiIntel
/src/utils @briangrifiin @mznamens
/src/vpual_backend @briangrifiin @ArtemySkrebkov-intel @alpkn
/src/vpux_al @ArtemySkrebkov-intel @mznamens @sshumihi
/src/vpux_compiler @vinograd47 @nikita-kud @AndrewBakalinIntel @AlexeyPushchin @MateuszDareckiIntel @hrotuna @ZoranZomborat @bradyjohn @sshumihi @andrejsokolov @vadim-intel @ZhibinLiIntel
/src/vpux_driver_compiler_adapter @sshumihi @ArtemySkrebkov-intel @mznamens
/src/VPUXCompilerL0 @mznamens @sshumihi @ArtemySkrebkov-intel
/src/vpux_ngraph_transformations @shokinal @maxim-kurin
/src/vpux_plugin @ArtemySkrebkov-intel @mznamens
/src/vpux_translate_utils @gladilov-gleb @MikhailPedus
/src/vpux_utils @vinograd47 @nikita-kud
/src/zero_backend @ArtemySkrebkov-intel @mznamens
#
# SW Runtime kernels folder
/sw_runtime_kernels @vmskv @esmirno @nikita-kud
#
# Tests folder
#
/tests/functional/behavior @ArtemySkrebkov-intel @mznamens @alpkn
/tests/functional/common @ArtemySkrebkov-intel @mznamens
/tests/functional/compile @ArtemySkrebkov-intel @mznamens
/tests/functional/internal @ArtemySkrebkov-intel @mznamens
/tests/functional/shared_tests_classes @alpkn @alexeytarakanov
/tests/functional/shared_tests_instances @alpkn @alexeytarakanov
/tests/functional/shared_tests_instances/behavior @ArtemySkrebkov-intel @mznamens @alpkn
/tests/functional/shared_tests_instances/blob_tests @ArtemySkrebkov-intel @mznamens @alpkn
/tests/functional/shared_tests_instances/single_layer_tests @maxim-kurin @vinograd47 @alpkn @sshumihi @andrejsokolov @vadim-intel @ZhibinLiIntel
/tests/functional/shared_tests_instances/subgraph_tests @maxim-kurin @vinograd47 @alpkn
/tests/functional/single_layer_tests @maxim-kurin @alpkn @vadim-intel @ZhibinLiIntel
/tests/functional/subgraph_tests @maxim-kurin @vinograd47 @alpkn
#
/tests/libs @alpkn @alexeytarakanov
/tests/lit @vinograd47 @nikita-kud @AndrewBakalinIntel @AlexeyPushchin @MateuszDareckiIntel @hrotuna @ZoranZomborat @bradyjohn
#
/tests/unit/frontend_mcm @ArtemySkrebkov-intel @mmineeva
/tests/unit/hddl2_tests @ArtemySkrebkov-intel @mznamens
/tests/unit/kmb @ArtemySkrebkov-intel @mznamens
/tests/unit/mcmCompiler @syao-2015 @mmineeva
/tests/unit/mtl @gladilov-gleb @MikhailPedus @briangrifiin
/tests/unit/vpux_compiler @vinograd47 @nikita-kud @AndrewBakalinIntel @AlexeyPushchin @MateuszDareckiIntel @hrotuna @ZoranZomborat @bradyjohn
/tests/unit/vpux_driver_compiler_adapter @sshumihi @ArtemySkrebkov-intel @mznamens
/tests/unit/vpux_elf @AndrewBakalinIntel @szilveszteri @gladilov-gleb @PaulCarabas
/tests/unit/vpux_utils @vinograd47 @nikita-kud
#
# tools folder
/tools @shokinal @mmineeva
#
# Validation folder
/validation @maxim-kurin @sshumihi @andrejsokolov
#
# OpenVINO infrastructure configs
./infrastructure @izvekovvadimintel @mznamens @mikhailk62 @asomsiko
#
