m2i-ref-results/m2i_F1_in_1x288x256x1_PL_YUV420_8_out_PL_FP16_BGR_outSz_[168,[[:space:]]224]_norm_False_interp_nearest.bin filter=lfs diff=lfs merge=lfs -text
m2i-ref-results/m2i_F1_in_1x288x256x1_SP_NV12_8_out_IL_RGB888_outSz_[168,[[:space:]]224]_norm_False_interp_nearest.bin filter=lfs diff=lfs merge=lfs -text
m2i-ref-results/m2i_F1_in_1x288x256x1_SP_NV12_8_out_PL_BGR24_outSz_[168,[[:space:]]224]_norm_False_interp_nearest.bin filter=lfs diff=lfs merge=lfs -text
m2i-ref-results/m2i_F1_in_1x288x256x1_SP_NV12_8_out_PL_FP16_BGR_outSz_[168,[[:space:]]224]_norm_False_interp_nearest.bin filter=lfs diff=lfs merge=lfs -text
m2i-ref-results/m2i_F1_in_1x288x256x1_SP_NV12_8_out_PL_RGB24_outSz_[168,[[:space:]]224]_norm_False_interp_nearest.bin filter=lfs diff=lfs merge=lfs -text
m2i-ref-results/m2i_F1_in_1x288x256x1_PL_YUV420_8_out_IL_BGR888_outSz_[168,[[:space:]]224]_norm_False_interp_nearest.bin filter=lfs diff=lfs merge=lfs -text
m2i-ref-results/m2i_F1_in_1x288x256x1_PL_YUV420_8_out_PL_BGR24_outSz_[168,[[:space:]]224]_norm_False_interp_nearest.bin filter=lfs diff=lfs merge=lfs -text
m2i-ref-results/m2i_F1_in_1x288x256x1_PL_YUV420_8_out_PL_FP16_RGB_outSz_[168,[[:space:]]224]_norm_False_interp_nearest.bin filter=lfs diff=lfs merge=lfs -text
m2i-ref-results/m2i_F1_in_1x288x256x1_PL_YUV420_8_out_PL_RGB24_outSz_[168,[[:space:]]224]_norm_False_interp_nearest.bin filter=lfs diff=lfs merge=lfs -text
m2i-ref-results/m2i_F1_in_1x288x256x1_SP_NV12_8_out_IL_BGR888_outSz_[168,[[:space:]]224]_norm_False_interp_nearest.bin filter=lfs diff=lfs merge=lfs -text
m2i-ref-results/m2i_F1_in_1x288x256x1_SP_NV12_8_out_PL_FP16_RGB_outSz_[168,[[:space:]]224]_norm_False_interp_nearest.bin filter=lfs diff=lfs merge=lfs -text
m2i-ref-results/m2i_F1_in_1x288x256x1_PL_YUV420_8_out_IL_RGB888_outSz_[168,[[:space:]]224]_norm_False_interp_nearest.bin filter=lfs diff=lfs merge=lfs -text
m2i-ref-results/m2i_F2_in_1x252x224x1_SP_NV12_8_out_PL_RGB24_outSz_[]_norm_False_interp_nearest.bin filter=lfs diff=lfs merge=lfs -text
m2i-ref-results/m2i_F2_in_1x252x224x1_PL_YUV420_8_out_PL_BGR24_outSz_[]_norm_False_interp_nearest.bin filter=lfs diff=lfs merge=lfs -text
m2i-ref-results/m2i_F2_in_1x252x224x1_PL_YUV420_8_out_PL_FP16_BGR_outSz_[]_norm_False_interp_nearest.bin filter=lfs diff=lfs merge=lfs -text
m2i-ref-results/m2i_F2_in_1x252x224x1_PL_YUV420_8_out_PL_FP16_RGB_outSz_[]_norm_False_interp_nearest.bin filter=lfs diff=lfs merge=lfs -text
m2i-ref-results/m2i_F2_in_1x252x224x1_PL_YUV420_8_out_PL_RGB24_outSz_[]_norm_False_interp_nearest.bin filter=lfs diff=lfs merge=lfs -text
m2i-ref-results/m2i_F2_in_1x252x224x1_SP_NV12_8_out_PL_BGR24_outSz_[]_norm_False_interp_nearest.bin filter=lfs diff=lfs merge=lfs -text
m2i-ref-results/m2i_F2_in_1x252x224x1_SP_NV12_8_out_PL_FP16_BGR_outSz_[]_norm_False_interp_nearest.bin filter=lfs diff=lfs merge=lfs -text
m2i-ref-results/m2i_F2_in_1x252x224x1_SP_NV12_8_out_PL_FP16_RGB_outSz_[]_norm_False_interp_nearest.bin filter=lfs diff=lfs merge=lfs -text
m2i-ref-results/m2i_SG_in_1x360x320x1_PL_YUV420_8_out_IL_RGB888_outSz_[]_norm_False_interp_nearest.bin filter=lfs diff=lfs merge=lfs -text
m2i-ref-results/m2i_SG_in_1x360x320x1_SP_NV12_8_out_IL_RGB888_outSz_[]_norm_False_interp_nearest.bin filter=lfs diff=lfs merge=lfs -text
m2i-ref-results/m2i_SG_in_1x3x256x256_PL_FP16_RGB_out_PL_FP16_RGB_outSz_[224,[[:space:]]224]_norm_False_interp_bilinear.bin filter=lfs diff=lfs merge=lfs -text
m2i-ref-results/m2i_SG_in_1x3x256x256_PL_FP16_RGB_out_PL_FP16_RGB_outSz_[]_norm_True_interp_nearest.bin filter=lfs diff=lfs merge=lfs -text
m2i-ref-results/m2i_SG_in_1x360x320x1_PL_YUV420_8_out_IL_BGR888_outSz_[]_norm_False_interp_nearest.bin filter=lfs diff=lfs merge=lfs -text
m2i-ref-results/m2i_SG_in_1x256x256x3_IL_RGB888_out_IL_RGB888_outSz_[224,[[:space:]]224]_norm_False_interp_nearest.bin filter=lfs diff=lfs merge=lfs -text
m2i-ref-results/m2i_SG_in_1x360x320x1_SP_NV12_8_out_IL_BGR888_outSz_[]_norm_False_interp_nearest.bin filter=lfs diff=lfs merge=lfs -text
m2i-ref-results/m2i_SG_in_1x3x256x256_PL_FP16_RGB_out_PL_FP16_RGB_outSz_[224,[[:space:]]224]_norm_False_interp_nearest.bin filter=lfs diff=lfs merge=lfs -text
m2i-ref-results/m2i_SG_in_1x256x256x3_IL_RGB888_out_IL_RGB888_outSz_[224,[[:space:]]224]_norm_False_interp_bilinear.bin filter=lfs diff=lfs merge=lfs -text
